body
{
    background-color: black;
    color: white;
}

h1
{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
}

.box
{
    text-align: center;
    display: block;
}
