h1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 15px;
}

h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

h3 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.titlebox {
    text-align: center;
    display: block;
}

form {
    text-align: center;
    display: block;
    position: center;
    max-width: 940px;
}

table {
    display: inline-block;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    vertical-align: top;
    text-align: left;
    max-width: 100%;
}

body {
    background-color: #121212;
    background-position: center;
    color: white;
    text-align: center;
}

ul {
    position: center;
}

.menu {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 940px;
}

.menulist {
    float: left;
}

li {
    padding: 5px 0px 5px 2px;
    max-width: 940px;
    margin: 0 auto;
    text-align: justify;
}

a {
    color: orange;
    text-decoration: none;
}

.menulist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

td {
    max-width: 80%;
    height: 30%;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
}

tr {
    padding-top: 5px;
    padding-bottom: 5px;
}

.portfolio {
    outline: double;
    /*height: 450px;*/
    max-width: 940px;
    position: relative;
    margin: auto;
    margin-top: 15px;
}

.text {
    position: absolute;
    bottom: 20%;
    margin: 0 auto;
    font-size: 16px;
    padding: 8px 12px;
    width: 95%;
    /*padding: 10% 10% 10% 30%;*/
    text-align: justify;
    color: white;
    background-color: #121212;
    visibility: hidden;
}

.portfolio:hover {
    background-color: rgba(255, 106, 0, 0.8);
    box-shadow: 0 0 5px #333333;
    transition: 0.7s ease-in;
    /*background-image: url(../img/monogame.gif);*/
}

    .portfolio:hover .text {
        visibility: visible;
    }

.slideshow-container {
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%; /*vertically in the middle*/
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none; /*it can NOT be sected as a text by the user*/
}

/* Position the "previous button" to the right */
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Number text (1/4 etc) */
.numbertext {
    color: white;
    background-color: #121212;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.title {
    color: orange;
    background-color: #121212;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 95%;
}

/* The dots/bullets/indicators */
.dots-container {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%; /*It makes them disks */
    display: inline-block;
    transition: background-color 0.6s ease;
}

    /* the class active will be added by the JavaScript code to mark the active dot*/
    .active, .dot:hover {
        background-color: orangered;
    }

/* Fading animation */
/* The prefix -webkit- is for Safari browser */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

/* the -webkit-animation fade */
@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* the animation fade */
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }

    .text {
        background-color: grey;
        visibility: visible;
        width: 80%;
    }
}
